#orkImage {width: 50px }
body {
    width: 100vw;
    height: 100vh;
    background-color: rgba(238, 233, 233, 0.6);
}
.start-game-wrapper {
    margin: auto;
    width: 50%;
    border: 3px dotted green;
    padding: 10px;
    text-align: center;
    font-family: 'Rubik Distressed', cursive;
}
.activate-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}